<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785048112986-rpqk90cur01atr6u64sk21u29srotkah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785048112986-rpqk90cur01atr6u64sk21u29srotkah</string>
	<key>API_KEY</key>
	<string>AIzaSyCRpElyXQAtPNDxGG9qjxcNe813hiR_0YE</string>
	<key>GCM_SENDER_ID</key>
	<string>785048112986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>unifar.me</string>
	<key>PROJECT_ID</key>
	<string>unifar-me</string>
	<key>STORAGE_BUCKET</key>
	<string>unifar-me.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785048112986:ios:987258306ddf8fc3df2d63</string>
</dict>
</plist>